* {
  margin: 0;
  padding: 0;
}

header {
  position: relative; /* Ensure the container is positioned */
  background-image: url("/images/donation0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
}

.head {
  background-color: rgba(0, 0, 0, 0.5);
}

.head-text {
  color: white;
  text-align: center;
  font-weight: 800;
  padding-top: 150px;
  font-size: 50px;
  margin-bottom: 18px;
}

.head-description {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.primary {
  margin-bottom: 176px;
  background: #ff5959;
  color: white;
  font-weight: bold;
  border: 0;
  padding: 10px 30px;
  border-radius: 5px;
}
